
.kittens {
  overflow: auto;
  list-style-type: none;
  padding: 0;

  li {
   
    float: left;
    margin-bottom: 2em;
    text-align: center;
    width: $kitten-width;

  }

  label { font-weight: bold; }
}

