img{
    size: 300px;
    border-radius: 45%;
    animation: cssAnimation 0s 3s forwards;
    @keyframes cssAnimation {
        to   { filter: none;    
         }
     }
}
 
.blur{
    filter: blur(5px);

}
.sepia{
    filter: sepia(100%);
}
.hue-rotate{
  filter: hue-rotate(150);

}
.invert{
    filter: invert(0.8);

}
.brightness{
filter:brightness(0.5) ;
    }
.contrast{
    filter: contrast(2);

}