<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label>Nom</label>
    <input type="text" name="nom">

    <label>Sexe</label>
    <input type="radio" name="sexe" value="MASC">Masculí
    <input type="radio" name="sexe" value="FEM">Femení

    <div class="perro1">
    <label>Número de registre</label>
    <input type="text" name="numreg">
    </div>

    <div class="cavall1">
    <label>Número de federat</label>
    <input type="text" name="federat">
    </div>
<label>Typus</label>
    <select name="rasa">
        
        <option value="ca">Ca (de raça o no)</option> 
        <option value="cavall">Cavall (de
            carreres o no)</option> 
        <option value="moix">Moix</option>
     </select>
     <button onclick="location.href='animalForm.html'" type="button">
        Enviar</button>
<script>
     
</script>
    <script type="module">
        
        import { getAnimal } from '../service/AnimalService.js'

        
        function init() {
            const current = window.location.href;
            const url = new URL(current);
            const params = url.searchParams;
            const idAnimal = parseInt(params.get("identificador"));
            jQuery(document).ready(function($){

});
            if (idAnimal) {
                getAnimal(idAnimal);  
            }


        
        }

        //window.addEventListener('load', init);

        (function(){
            init()
        })()

        

    </script>
 
</body>

</html>